:root {
    font-size: 16px;
    font-family: "Josefin Sans";
    --text-primary: #131316;
    --text-secondary: #343232;
    --bg-primary: #343232;
    --bg-secondary: #a0a0a0;
}

body::-webkit-scrollbar-track {
    background: #202231;
}

body::-webkit-scrollbar-thumb {
    border: 1;
    border-radius: 10px;
    border-right: 2px #202231 solid;
    border-left: 2px #202231 solid;
    background-clip: padding-box;
    background: #b6b6b6;
    -webkit-transition: 200ms;
    -webkit-filter: grayscale(100%) opacity(0.6);
}

body::-webkit-scrollbar-thumb:hover {
    -webkit-filter: grayscale(0%) opacity(1);
    background: #e8e8e8;
}

.nadpis {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.novinky-dole {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: #9ACCD5;
}

.novinky-hore {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: whitesmoke;
}

.vlna-1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
    fill: whitesmoke;
    background-color: #9ACCD5;
}

.vlna-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.vlna-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    fill: whitesmoke;
    background-color: #9ACCD5;
}

.vlna-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.navbar {
    background-color: #202231;
    width: 6rem;
    height: 100vh;
    position: fixed;
    z-index: 2;
    left: 0;
    transition: 200ms ease;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    margin-left: 4rem;
}

.nav-item:last-child {
    margin-left: 0rem;
    text-align: center;
    max-width: min-content;
    margin-top: auto;
}

#hlavna-stranka {
    margin-left: 0.20rem;
}

#ziaci-a-rodicia {
    margin-left: 0.25rem;
}

#o-skole {
    margin-left: 1.60rem;
}

#projekty {
    margin-left: 1.90rem;
}

#zelena-skola {
    margin-left: 1rem;
}

#kontakt {
    margin-left: 1.70rem;
}

.nav-link {
    display: flex;
    font-size: 1rem;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    filter: grayscale(100%) opacity(0.6);
    transition: 200ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: rgb(211, 211, 211);
}

i {
    color: rgb(214, 214, 214);
}

.nav-link-text {
    display: none;
    color: rgb(214, 214, 214);
}

#nazov-hubenky {
    font-family: Beau Rivage;
    font-size: 1.60rem;
    margin: 0.10rem;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--text-primary);
    font-size: 3rem;
    text-align: center;
    padding: 0rem;
    background-color: whitesmoke;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

p {
    color: var(--text-secondary);
    padding: 1rem;
}

main {
    margin-left: 6rem;
    padding: 0;
    text-align: left;
}

.navbar:hover {
    width: 11rem;
    align-items: left;
    position: fixed;
    left: 0;
}

.navbar:hover .nav-link-text {
    display: block;
    align-items: center;
    flex-shrink: 0;
}

h2{
    text-align: center;
    padding-left: 2rem;
    font-size: 1.75rem;
}

.podnadpis-info{
    text-align: center;
    padding-left: 2rem;
    margin-top: -1.25rem;
    color: var(--text-secondary);
}

.list-info{
    font-size: 1.25rem;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
    padding-left: 2rem
}

.list-item{
    font-size: 1.10rem;
    margin-top: -1rem;
    padding-left: 2rem;
}

.text-novinky{
    margin-top: -1rem;
    padding-left: 2rem;
}
