:root{
    font-size: 16px;
    font-family: "Josefin Sans";
    --text-primary: #000000;
    --text-secondary: #ffffff;
    --bg-primary: #2C3D6A;
    --bg-secondary: #B7C3E1;
    --bg-tertiary: #FCE4C5;
}

body::-webkit-scrollbar-track {
    background: #202231;
}

body::-webkit-scrollbar-thumb {
    border: 1;
    border-radius: 10px;
    border-right: 2px #202231 solid;
    border-left: 2px #202231 solid;
    background-clip: padding-box;
    background: #b6b6b6;
    -webkit-transition: 200ms;
    -webkit-filter: grayscale(100%) opacity(0.6);
}

body::-webkit-scrollbar-thumb:hover {
    -webkit-filter: grayscale(0%) opacity(1);
    background: #e8e8e8;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    height: 4rem;
    background-color: #FCE4C5;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    max-height: 4rem;
    height: 100%;
    position: fixed;
    right: 0;
}

.nav-item{
    display: flex;
    margin-right: 4vW;
    font-size: 0.75rem;
    text-wrap: wrap;
}

#nazov-hubenky {
    font-family: Beau Rivage;
    font-size: 1.60rem;
}

.nav-link{
    text-decoration: none;
    color: var(--text-primary);
}

.nav-item:first-child{
    position: fixed;
    left: 0;
    width: min-content;
    text-align: center;
}

.nav-item:last-child{
    margin-right: 1rem;
}

.knihy-main-page{
    position: relative;
    width: 100%;
    max-width: 40rem;
    height: auto;
}

#knihy-main-parent{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;  
    width: 45%;
    margin-top: 14vw;
    margin-right: 2vw;
}

.nazov-main{
    position: relative;
    font-family: 'Beau Rivage';
    font-size: 8vw;
    width: min-content;
    text-align: center;
    text-shadow: 0.1vw 0.1vw 2px gray; 
}

#nazov-main-parent{
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;  
    margin-left: 10%;
    margin-top: 3rem;
}

.text-pod-nazvom{
    max-width: 30vw;
    font-size: 1.5vw;
    margin-top: -6vw;
    line-height: 1.5;
}

.cudlik-o-skole{
    font-size: 2vw;
    width: 13vw;
    height: 3.5vw;
    border-radius: 4vw;
    border: none;
    background-color: var(--bg-primary);
}

.cudlik-nazov{
    color: var(--text-secondary);
    text-decoration: none;
}

.cudlik-o-skole:hover{
    box-shadow: 0.3vw 0.3vw 5px rgb(179, 179, 179);
    pointer-events: all ;
}

.background-darkblue{
    position: absolute;
    z-index: -1;
    width: 110vw;
    height: 45vw;
    background-color: var(--bg-primary);
    margin-top: 62.5vw;
    transform: rotate(5deg) translate(-5vw, 0);
    align-items: center;
}

.vzdelavanie-container{
    position: relative;
    background-color: white;
    width: 25vw;
    height: 30vw;
    margin-top: 7vw;
    margin-left: 5vw;
    border-radius: 3vw;
}

.sporty-container{
    position: relative;
    background-color: white;
    width: 25vw;
    height: 30vw;
    margin-top: -30vw;
    margin-left: 37.5vw;
    border-radius: 3vw;
}

.dofe-container{
    position: relative;
    background-color: white;
    width: 25vw;
    height: 30vw;
    margin-top: -30vw;
    margin-left: 70vw;
    border-radius: 3vw;
}

.white-container-containers{
    position: absolute;
    width: 100%;
    height: 45vw;
    background-color: transparent;
    margin-top: 62.5vw;
}

.podnazov-main{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 2vw;
    font-size: 2.5vw;
}

.containery-ciara{
    width: 20vw;
    height: 1px;
    background-color: var(--bg-primary);
    border: none;
}

.text-main{
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 1.60vw;
    line-height: 2.25vw;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 132.5vw;
}

.dolna-lista{
    position: relative;
    margin-top: auto;
    width: 100%;
    height: 20vw;
    background-color: #FCE4C5;
    z-index: 1;
}

.bottom-items{
    list-style-type: none;
    margin: 0.2vw;
    padding: 0;
}

.bottom-link{
    text-decoration: none;
    color: var(--text-primary);
}

.bottom-nazov{
    margin-bottom: 1vw;
    margin-top: 2.5vw;
    font-size: 1.75vw;
}

.bottom-link-text{
    font-size: 1vw;
}

.odkazy{
    position: relative;
}

.kontakt{
    position: relative;
    margin-left: 40vw;
    margin-top: -17.5vw;
}
